<h1>Editing gift_exchange</h1>

<% form_for(@gift_exchange) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @gift_exchange %> |
<%= link_to 'Back', gift_exchanges_path %>
